fastapi
uvicorn
opencv-python
numpy
pandas
joblib
scikit-learn
ultralytics
requests
python-multipart
aiortc
av
#pip install python-multipart
# pip install mediapipe
#pip install ultralytics
#pip install joblib
#pip install pandas
# pip install scikit-learn